.reports-main {
    position: absolute;
    left: 200px;
    width: 700px;
    background-color: white;
    border-radius: 10px;
}

.numeroreporte {
    position: relative;
    left: 230px;
}

.fechareporte {
    position: relative;
    left: 20px;
}

.estadoreporte {
    position: relative;
    left: 20px;
}

.estudiantereporte {
    position: relative;
    left: 20px;
}

.ldescripcion {
    position: relative;
    left: 20px;
}

.descripcion {
    position: relative;
    left: 20px;
}

.levidencia {
    position: relative;
    left: 20px;
}

.evidencia {
    position: relative;
    width: 250px;
    height: 160px;
    left: 210px;
}

.descripcion {
    position: relative;
    text-align: justify;
}

.imprimir {
    position: relative;
    left: 280px;
    background: #0B5EA7;
    color: white;
    padding: 10px 15px;
    border: 0;
    border-radius: 15px;
    font-size: 18px;
    cursor: pointer;
}

.regresarhome {
    position: relative;
    left: 300px;
    background: #0B5EA7;
    color: white;
    padding: 10px 15px;
    border: 0;
    border-radius: 15px;
    font-size: 18px;
    cursor: pointer;
}

.regresarhome:hover {
    background: black;
}

.text-foot {
    position: absolute;
    color: black;
    top: 500px;
    left: 150px;
    font: bold 13px verdana, arial, sans-serif;
}