.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 30%;
}

.logo {
    position: relative;
    width: 50px;
    height: 40px;
    top: -4px;
    margin-right: 5px;
}

#soluciones {
    visibility: visible;
}

#user:checked~#soluciones {
    visibility: hidden;
}

.name {
    margin-top: 5px;
    font-weight: normal;
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.9rem;
}

.menu-button .mat-icon {
    margin-right: 8px;
    color: white;
}

.menu-button span {
    color: white;
}

.content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
    display: flex;
}

.quienes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
}

mat-sidenav-container {
    height: calc(100vh - 55px);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
}

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #19457C;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

mat-toolbar {
    color: white;
    background: #19457C;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: white;
}

mat-sidenav-content {
    height: calc(100vh - 35px);
}