<body>
    <mat-toolbar>
        <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
            <mat-icon *ngIf="sidenav.opened">close</mat-icon>
        </button>
        <img src="assets/img/logo.png" alt="logo" class="logo">
        <span>HELP DESK REPORT UTMACH</span>
    </mat-toolbar>

    <mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav="matSidenav" mode="side" opened>
            <div *ngFor="let usuario of infoUsuario;">
                <img class="avatar" src="{{usuario.avatar}}">
                <h4 class="name">{{usuario.nombres}} {{usuario.apellidos}}</h4>
                <h4 class="name" *ngIf="usuario.idtipousu == '2'">Encargado</h4>
                <h4 class="name" *ngIf="usuario.idtipousu == '1'">Estudiante</h4>
            </div>
            <mat-divider></mat-divider>
            <button mat-button class="menu-button " [routerLink]="[ 'inicio'] " routerLinkActive="active-link ">
                <mat-icon>home</mat-icon>
                <span>Inicio</span>
            </button>
            <button mat-button class="menu-button " [routerLink]="[ 'reportes'] ">
                <mat-icon>report</mat-icon>
                <span>Reportes</span>
            </button>
            <input type="checkbox " id="user " style="display: none; ">
            <div *ngFor="let usuario of infoUsuario;">
                <button mat-button class="menu-button " [routerLink]="[ 'soluciones'] " routerLinkActive="active " id="soluciones " *ngIf="usuario.idtipousu == '2'"> 
                    <mat-icon>check</mat-icon>
                    <span>Soluciones</span>
                </button>
            </div>
            <mat-divider></mat-divider>
            <button mat-button class="menu-button " (click)="Salir() ">
                <mat-icon>logout</mat-icon>
                <span>Desconectarse</span>
            </button>

        </mat-sidenav>
        <mat-sidenav-content>
            <div class="content ">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</body>